body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.sectionOne {
    height: 100vh;
    background: #000;
    position: relative;
    background-size: cover;
    overflow: hidden;
    .text {
        font-size: 60px;
        color: white;
        font-weight: 200;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 325px);
    }
    .photo {
        list-style: none;
        top: 0;
        background-size: cover;
        position: absolute;
        height: 301vh;
        width: 100%;
        li {
            display: none;
            float: left;
            width: 100vw;
            height: 100vh;
            background-size: cover;
        }
        .visible {
            display: inline-block;
        }
        @media (min-width: 600px) {
            height: 300vh;
            width: 100%;
        }
    }
    .btnLeft {
        font-size: 10px;
        width: 0;
        border-left: 3em solid transparent;
        border-right: 3em solid transparent;
        border-bottom: 2em solid rgba(255, 255, 255, 0.6);
        margin: 30px auto 0;
        top: calc(50% - 50px);
        left: -20px;
        transform: rotate(90deg);
        position: absolute;
        cursor: pointer;
        span {
            color: white;
            font-size: 25px;
            position: absolute;
            transform: rotate(-90deg);
            margin: 15px calc(50% - 7px);
        }
    }
    .btnLeft:before {
        content: '';
        position: absolute;
        left: -2.9em;
        top: 2em;
        width: 0;
        border-top: 5em solid rgba(255, 255, 255, 0.6);
        border-left: 3em solid transparent;
        border-right: 3em solid transparent;
    }
    .btnRight {
        font-size: 10px;
        width: 0;
        border-left: 3em solid transparent;
        border-right: 3em solid transparent;
        border-bottom: 2em solid rgba(255, 255, 255, 0.6);
        margin: 30px auto 0;
        top: calc(50% - 50px);
        right: -20px;
        transform: rotate(-90deg);
        position: absolute;
        cursor: pointer;
        span {
            color: white;
            font-size: 25px;
            position: absolute;
            transform: rotate(-90deg);
            margin: 15px calc(50% - 7px);
        }
    }
    .btnRight:before {
        content: '';
        position: absolute;
        left: -2.9em;
        top: 2em;
        width: 0;
        border-top: 5em solid rgba(255, 255, 255, 0.6);
        border-left: 3em solid transparent;
        border-right: 3em solid transparent;
    }
    .btnLeft:hover,
    .btnRight:hover {
        border-bottom-color: rgba(255, 255, 255, 0.8);
    }
    .btnLeft:hover:before,
    .btnRight:hover:before {
        border-top: 5em solid rgba(255, 255, 255, 0.8);
    }
}
.loader {
    border: 8px solid white; /* Light grey */
    border-top: 8px solid red; 
    border-top-radius: 15%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.sectionTwo {
    height: 800vh;
    background: black;
    position: relative;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    .gallery {
        list-style: none;
        top: 0;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        li {
            float: left;
            content: '';
            width: 33.333vw;
            height: 50vh;
            background-size: cover;
            //background-color: yellow;
        }
    }
}



