body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sectionOne {
    height: 100vh;
    //background: #000;
    position: relative;
    background-size: cover;
    overflow: hidden;
    
    
            background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-image: url("../BSP_054.jpg");
    
    .photo {
        list-style: none;
        top: 0;
        background-size: cover;
        position: absolute;
        height: 301vh;
        width: 100%;
        @media (min-width: 600px) {
            height: 300vh;
            width: 100%;
        }
    }
    .btnLeft {
        left: 0px;
        width: 50px;
        cursor: pointer;
        float: left;
        height: 130px;
        background: rgba(255, 255, 255, 0.2);
        position: relative;
        top: calc(50% - 50px);
        z-index: 900;
        span {
            color: white;
            font-size: 35px;
            top: calc(50% - 22px);
            position: absolute;
            margin-left: calc(50% - 12px);
            z-index: 999;
        }
        @media (min-width: 600px) {
            top: calc(50% - 50px);
        }
    }
    .btnRight {
        width: 50px;
        cursor: pointer;
        float: right;
        height: 130px;
        background: rgba(255, 255, 255, 0.2);
        position: relative;
        right: 0px;
        top: calc(50% - 50px);
        z-index: 900;
        span {
            color: white;
            font-size: 35px;
            top: calc(50% - 22px);
            position: absolute;
            margin-left: calc(50% - 12px);
            z-index: 999;
        }
        @media (min-width: 600px) {
            // right: -40px;
            top: calc(50% - 50px);
        }
    }
    .btnLeft:hover,
    .btnRight:hover {
        background: rgba(255, 255, 255, 0.6);
    }
}